<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="container privacy">
    <h1>Privacy Policy</h1>
  </div>

</body>
</html>
