<style type="text/css">
body {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
}
h1 {
  font-size: 32px;
  margin: 12px 0 32px;
  padding: 0;
}
</style>

<h1>Schema</h1>
<%= schema %>

<hr style="margin: 42px 0;"/>

<h1>Utterances</h1>
<%= utterances %>
